/* Шапка */
.header {
    padding: 92px 50px 96px 50px;
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items:center;
}

.header_links_list {
    display: flex;
    flex-direction: row;
    gap: 34px;
    list-style-type: circle;
    font-size: 18px;
    text-underline-offset: 4px;
}

.header_links-list-item_no-bullit {
    list-style-type: none;
}

.header_logo {
    width: 130px;
}

.address {
   justify-self: end;
   font-size: 18px;
   line-height: 24px;
   max-width: 234px;
   font-style: normal;
   text-underline-offset: 4px; 
}

.header_address {
    list-style-type: none;
}

/* ОСНОВНОЙ БЛОК */
/*блок cover*/

.cover {
    margin: 0 0 180px 0;
    min-height: 757px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
    background-image:url(/images/cover.jpg);
    overflow: auto;   
}

.overlay{
    height:100%;
    width: 100%;
    position: absolute;
    background-color: black;     
    opacity: 0.6;
}

.cover_title {
    margin: 165px 50px 0 ;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    color:white;
    position: relative;
}

.aligned-text {
    display: block;
}

.aligned-text_left {
    text-align: left;
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right {
    text-align: end;
}

.letter-spacing-extended {
    letter-spacing: 27px;
}

.cover_description {
    color: white;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 118px 50px 50px;
    font-size: 22px;
}

.cover_description-text {
    font-size: 22px;
    word-spacing: 15px;
    align-self: center;
    text-transform: uppercase;
}

.bet-button {
    color: white;
    background-color: rgb(255, 255, 255, 0);
    border-color:white;
    text-transform: uppercase;
    padding: 12px 30px;
}

/*блок lots*/

.lots {
    width: 100%;
    height: 723px;
    padding:0px, 24px, 0px;
}

.lots_heading {
    margin: 0px 900px 24px 90px;
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    text-transform: uppercase;
}

.lots_card-list {
    list-style-type:none;
    min-height: 450px;
    margin: 24px 25px 30px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: space-between;
    position: static;
}

.lots_card-list-item {
    width: 334px;
    min-height: 596px;
    position: relative;
    list-style-type: none;
    display: flex;
}

.card-link {
    height: 100%;
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

 .card_type_film {
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-position: center;
            
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
    background-size: cover;
    background-position: center;
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    background-size: cover;
    background-position: center;
}

.card_title {
    padding: 48px 40px 0 40px;
    font-weight: 700;
    font-family: Raleway;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    text-decoration: underline;
    color: white;
    position: relative;
    text-underline-offset: 3px;
}

.card_text {
    padding: 0 40px 48px;
    display: flex;
    font-size: 20px;
    color: white;
    font-family: Raleway;
    font-weight: 400;
    position: relative;
}

.lots_look-more-link {
    font-size: 20px;
    padding: 30px 0 0 40px;
}

/*блок about*/

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-template-rows: 240px;
  margin: 181px 24px;
}

.about_logo {
  background-color: black;
  width: 240px;
  height: 240px;
  margin: 0px 0px 0px 45px;
  border-radius: 50%;
  justify-content: center;
}

.about_logo-image {
  margin: 63px 46px;
  width: 148px;
  height: 114px;
}

.about_column {
  margin-top: 100px;
  display: grid;
  grid-row-gap: 25px;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}

.about_title {
  margin-bottom: 75px;
  color: black;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.about_text {
  color: black;
  font-size: 20px;
  font-weight: 400;
}

/*Подвал*/

.footer {
  margin: 0px 50px 90px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items:center;
  grid-column-gap: 25px;
}

.footer_address {
  justify-self: start;
  line-height: 24px;
  color: black;
  font-size: 18px;
  font-weight: 400;
  width: 300px;
  font-style: normal;
  text-underline-offset: 3px;
}

.footer_menu {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-self: center;
  align-items: center;
}

.footer_menu-list-item {
  list-style-type: none;
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 3px;
}

.footer_menu-link {
  text-decoration: underline;
}

.footer_menu-link_active {
  text-decoration: none;
}

.footer_social-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 240px;
  min-height: 48px;
  list-style-type: none;
  justify-self: end;
}

.footer_social-list-item {
  width: 48px;
}